body {
    font-family: Arial, sans-serif;
    background-color: #bc69d177;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #533292;
}

#result {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #961aa7;
    background-color: #fff;
    border-radius: 5px;
    font-size: 1.2em;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #a816d4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a8b3be;
}
